@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --theme-bg: #e2e3e4;
  --theme-text: #030507;
  --theme-primary: #435ba3;
  --theme-secondary: #7d879b;
  --theme-accent: #210576;
}

.dark {
  --theme-bg: #1b1d1e;
  --theme-text: #f8fafc;
  --theme-primary: #5A72BC;
  --theme-secondary: #636C80;
  --theme-accent: #A78BFA;
}

@theme {
  --color-background: var(--theme-bg);
  --color-text: var(--theme-text);
  --color-primary: var(--theme-primary);
  --color-secondary: var(--theme-secondary);
  --color-accent: var(--theme-accent);
}

html {
  background-color: var(--theme-bg);
  color: var(--theme-text);
}